.lessons .chapter-title {
  text-align: center;
  margin-top: 80px;
  font: 500 normal 30px/30px "M PLUS Rounded 1c", sans-serif;
}

.lessons .lessons-items {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content !important;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

.lessons .lesson {
  margin: 10px;
  width: 300px;
  height: 244px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
}

.lessons .lesson .circle-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 255px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 25px;
}

.lessons .lesson .circle {
  display: inline-block;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  border: 2px solid #f4bf9f;
  color: #f4bf9f;
  text-align: center;
  font: 700 normal 30px/59px "M PLUS Rounded 1c", sans-serif;
}

.lessons .lesson__title {
  height: 59px;
  max-width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 700 normal 16px/19px "M PLUS Rounded 1c", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lessons .lesson__description {
  max-width: 255px;
  margin: 0 auto;
  font: 500 normal 13px/19px "M PLUS Rounded 1c", sans-serif;
  margin-top: 25px;
}

.lessons .lesson .btn-lesson:hover {
  background: #f4bf9f;
  color: white;
  border: #f4bf9f;
}

.lessons .buttons {
  width: 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.lessons a {
  text-decoration: none;
}

.lessons .btn {
  text-decoration: none;
}

.lessons .btn_fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lessons .btn_fill a {
  color: white;
}

.lessons .btn_gold_nofill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 130px;
}

.lessons .btn_gold_nofill a {
  color: #f4bf9f;
}
