.Explanation {
  box-sizing: border-box;
  font: 500 normal 16px/24px "M PLUS Rounded 1c", sans-serif;
  max-width: 580px;
  padding: 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .Explanation {
    width: 550px;
  }
}

@media (min-width: 1300px) {
  .Explanation {
    width: 630px;
  }
}

@media (min-width: 1400px) {
  .Explanation {
    width: 630px;
  }
}

@media (min-width: 1500px) {
  .Explanation {
    width: 630px;
  }
}

@media (min-width: 1600px) {
  .Explanation {
    width: 700px;
  }
}
