* {
  scroll-behavior: smooth;
}

.wrapper {
  width: 975px;
  margin: 0 auto;
}

#telegram {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #5cc2ad;
  font: 500 normal 15px/22px "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#telegram a {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  height: 38px;
  cursor: pointer !important;
  border-radius: 5px;
  border: 2px solid #ef5350;
  font: 700 normal 14px/19px "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn a {
  text-decoration: none;
}

.btn-watch {
  height: 45px;
  width: 156px;
}

.btn-more-info {
  height: 45px;
  width: 200px;
}

.btn-start {
  height: 35px;
  width: 150px;
}

.btn-lesson {
  height: 35px;
  width: 135px;
}

.btn_nofill {
  display: inline-block;
  background: none;
  color: #ef5350;
}

.btn_fill {
  display: inline-block;
  color: #ffffff;
  background-color: #ef5350;
}

.btn_gold_nofill {
  color: #f4bf9f;
  border: 2px solid #f4bf9f;
}

.btn:hover {
  color: #ffffff;
  background-color: #e67373;
  border: 2px solid #e67373;
}

.header {
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  font: 400 normal 15px/26px "Pacifico", cursive;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 618px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__item {
  font: 500 normal 14px/21px "M PLUS Rounded 1c", sans-serif;
}

.header a {
  font: 500 normal 14px/21px "M PLUS Rounded 1c", sans-serif;
  text-decoration: none;
  color: #3f3f3f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header a:hover {
  color: #ef5350;
}

.bg {
  background: #f7efe6;
  width: 1082px;
  height: 448px;
  margin: 0 auto;
  border-radius: 38px;
}

.info .wrapper {
  height: 100%;
  background: url("./exam.png") right center no-repeat;
}

.info h2 {
  max-width: 556px;
  margin-top: 6px;
  font: 700 normal 35px/45px "M PLUS Rounded 1c", sans-serif;
}

.info small {
  display: block;
  font: 400 normal 14px/16px "Arial", sans-serif;
  padding-top: 52px;
  color: #ef5350;
}

.info .offer {
  font: 500 normal 18px/27px "M PLUS Rounded 1c", sans-serif;
  width: 454px;
  margin-top: 17px;
}

.info .btn {
  margin-top: 29px;
  text-decoration: none;
}

.info .btn_nofill {
  margin-left: 24px;
}

.creators {
  margin-top: 40px;
  background: url("./bg/creators-bg.svg") center bottom no-repeat;
}

.creators .wrapper {
  height: 100%;
  background: url("./bg/creators.png") right bottom no-repeat;
  padding-bottom: 32px;
}

.creators .wrapper ul {
  margin-left: 20px;
  list-style: disc outside;
}

.creators .wrapper ul li {
  max-width: 550px;
  font: 500 normal 16px/24px "M PLUS Rounded 1c", sans-serif;
}

.creators .wrapper small {
  display: block;
  text-align: center;
  font: 700 normal 16px/22px "M PLUS Rounded 1c", sans-serif;
  color: #efae87;
}

.creators .wrapper h3 {
  margin: 0 auto;
  text-align: center;
  width: 330px;
  font: 900 normal 20px/30px "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 50px;
}

.creators .wrapper .creator-name {
  font: 700 normal 16px/24px "M PLUS Rounded 1c", sans-serif;
}

.creators .wrapper .btn {
  margin-top: 20px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: 700 normal 14px/45px "M PLUS Rounded 1c", sans-serif;
}

.footer {
  height: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .wrapper {
  height: 57px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7efe6;
  font: 500 normal 14px/45px "M PLUS Rounded 1c", sans-serif;
  border-radius: 42px;
}

.footer .wrapper a {
  color: #000;
}

@media (min-width: 1000px) {
  .wrapper {
    width: 900px;
  }
  .bg {
    width: 950px;
  }
  .lessons-items {
    max-width: 640px !important;
  }
  .creators li {
    width: 450px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    width: 1150px;
  }
  .bg {
    width: 1250px;
  }
  .creators .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .creators li {
    width: 560px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 1200px;
  }
  .bg {
    width: 1300px;
  }
  .lessons-items {
    max-width: 960px !important;
  }
  .creators .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .info h2 {
    width: 760px;
  }
  .info .offer {
    width: 650px;
  }
  .info .btn {
    margin-top: 40px;
    text-decoration: none;
  }

  .info .btn_nofill {
    margin-left: 24px;
  }
}

@media (min-width: 1500px) {
  .info small {
    padding-top: 72px !important;
  }
  .wrapper {
    width: 1260px;
  }
  .logo {
    font-size: 18px !important;
  }
  .bg {
    width: 1400px;
  }
  .lessons-items {
    max-width: 960px !important;
  }
  .creators .wrapper {
    padding-left: 40px;
    padding-right: 15px;
  }
  .info h2 {
    width: 760px;
  }
  .info .offer {
    width: 650px;
  }
  .info .btn {
    margin-top: 40px;
    text-decoration: none;
  }

  .info .btn_nofill {
    margin-left: 24px;
  }

  .lesson .btn {
    height: 40px;
  }

  .lesson {
    height: 280px !important;
  }

  .lessons .lesson__description {
    font: 500 normal 15px/19px "M PLUS Rounded 1c", sans-serif !important;
  }

  .btn {
    height: 45px;
  }
}

@media (min-width: 1600px) {
  .logo {
    font-size: 18px !important;
  }
  .wrapper {
    width: 1350px;
  }
  .menu {
    width: 700px !important;
  }
  .menu__item {
    font-size: 16px;
  }
  .bg .wrapper .btn {
    height: 50px;
  }

  .menu__item a {
    font-size: 16px;
  }
  .bg {
    width: 1500px;
    height: 500px;
  }
  .lessons-items {
    max-width: 1400px !important;
  }
  .creators .wrapper {
    margin-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .creators small {
    font-size: 18px !important;
  }
  .creators h3 {
    font-size: 26px !important;
    width: 400px !important;
  }
  .info small {
    padding-top: 70px;
    font-size: 16px;
  }
  .info h2 {
    font-size: 40px;
    line-height: 50px;
    width: 760px;
  }
  .info .offer {
    width: 650px;
  }
  .info .btn {
    margin-top: 50px;
    text-decoration: none;
  }

  .info .btn_nofill {
    margin-left: 24px;
  }

  .lessons .lesson__description {
    font: 500 normal 15px/19px "M PLUS Rounded 1c", sans-serif !important;
  }

  .btn {
    height: 45px;
    font: 700 normal 16px/19px "M PLUS Rounded 1c", sans-serif;
  }
}
