.ActiveQuestion {
  /* border: 1px solid black; */
  position: relative;
  padding-bottom: 45px;
  /* padding: 15px; */
  border-bottom: 2px solid #00000017;
}

.true {
  box-shadow: 0px 0px 10px #4eac99 !important;
}
.false {
  box-shadow: 0px 0px 10px #ef5350 !important;
}

.btn-check {
  position: absolute;
  right: 0px;
  border: 2px solid#4eac99;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  background-color: #fff;
  font: 700 normal 14px/19px "M PLUS Rounded 1c", sans-serif;
  color: #4eac99;
  transition: background-color 0.3s;
}

.btn-check:hover {
  background-color: #4eac9915;
}
