.ActiveQuestion {
  position: relative;
  padding-bottom: 55px;
  width: 580px;
  border-bottom: 2px solid #00000017;
  margin-top: 30px;
}

.Question {
  position: relative;
  border-radius: 3px;
}

.answersList {
  width: 100%;
}

.answersList .answerItem {
  box-sizing: border-box;
  width: 580px;
}

.Question small {
  font-size: 14px;
  color: #ef5350;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.true {
  box-shadow: 0px 0px 10px #4eac99 !important;
}
.false {
  box-shadow: 0px 0px 10px #ef5350 !important;
}

.btn-check {
  position: absolute;
  right: 0px;
  bottom: 15px;
  border: 2px solid#4eac99;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  background-color: #fff;
  font: 700 normal 14px/19px "M PLUS Rounded 1c", sans-serif;
  color: #4eac99;
  transition: background-color 0.3s;
}

.btn-check:hover {
  background-color: #4eac9915;
}

@media (min-width: 1000px) {
  .ActiveQuestion {
    width: 550px;
  }
}

@media (min-width: 1300px) {
  .ActiveQuestion {
    width: 630px;
  }
}

@media (min-width: 1400px) {
  .ActiveQuestion {
    width: 630px;
  }
}

@media (min-width: 1500px) {
  .ActiveQuestion {
    width: 630px;
  }
}

@media (min-width: 1600px) {
  .ActiveQuestion {
    width: 700px;
  }
}
