.AnswerItem {
  height: 30px;
  border: 1px solid black;
}

.AnswerItem:hover {
  cursor: pointer;
}

.success {
  background-color: rgb(201, 255, 201);
}

.error {
  background-color: rgb(255, 199, 199);
}
